* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.post {
    height: 100vh;
    width: 100%;
}

.follower {
    height: 100vh;
    width: 100%;
}

.myBorder {
    border: 1px solid red;
}